body {
    background-color: rgb(218, 209, 200);
    margin: 0;
    padding: 0;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 150%

    
}

h1 {
    color: rgb(214, 214, 214);
    background-color: rgb(59, 75, 168);
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}

h2 {
    
}
